<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Running Test</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <form action="send/{{code}}/{{questions_number}}/" method="post" >
        {% csrf_token %}
        <div>
            <p>Имя</p>
            <input name= "user_name" type="text">
            <br />
            <br />
        </div>

        {% for question in questions.values %}
            <div>
                <p>points: {{ question.amount_of_points }}</p>
                <h2>{{ question.text }}</h2>

                {% if question.image %}
                    <p><img src="{{ question.image.url }}" width="350"></p>
                {% endif%}

                {% if question.question_type == 1 %}
                    <input type="text" name="answer_{{ question.id }}">
                    <br />
                    <br />
                {% elif question.question_type == 2 %}

                    {% for option in question.options %}
                        <p><input type="radio" name="q_{{ question.id }}">   {{ option.text|linebreaksbr }}</p>
                    {% endfor %}
                        <br />
                        <br />

                {% else %}
                    {% for option in question.options %}
                        <p><input type="checkbox" name="q_{{ question.id }}>" value="1417">   {{ option.text|linebreaksbr }}</p>
                    {% endfor %}
                    <br />
                    <br />
                {% endif %}
            </div>
        {% endfor %}

        <div>
            <button type="submit">Отправить</button>
        </div>

    </form>
</body>
</html>