{% extends 'main/base.html' %}

{% block title %}
Вход
{% endblock %}

{% block navlinks %}
  <a class="nav-link" href="/">Главная страница</a>
  <a class="nav-link active" href="/accounts/login">Вход</a>
  <a class="nav-link" href="/accounts/signup">Регистрация</a>
{% endblock %}

{% block maincontent %}
  <div>
    <h1 class="cover-heading">Вход</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-secondary" type="submit">Войти</button>
    </form>
  </div>
  <p class="lead">
    <p class="lead">или</p>
    <a href="/accounts/signup" class="btn btn-sm btn-link">Зарегестрироваться</a>
  </p>
{% endblock %}

{% block footertext %}
С тестом и рай в шалаше.
{% endblock %}