{% extends 'main/base.html' %}

{% block title %}
Личный Кабинет
{% endblock%}

{% block navlinks %}
    <a class="nav-link" href="/">Главная страница</a>
{% if user.is_authenticated %}
    <a class="nav-link active" href="/accounts/home">Личный кабинет</a>
    <a class="nav-link" href="{% url 'logout'%}">Выйти</a>
{% endif %}
{% endblock %}

{% block maincontent %}
    <h1 class="text-left">Ваши тесты:</h1>
    {% if tests %}
        {% for test in tests %}

            <table class="test">
                <tr>
                    <td class="leftcol">{{ test.title }}</td>
                    <td class="rightcol">
                        <a href="/test_constructor/test/?code={{test.code}}" class="btn btn-sm btn-secondary mt-1 mb-1">Редактировать</a>
                        <a href="/test_constructor/delete_test/?code={{test.code}}" class="btn btn-sm btn-secondary mt-1 mb-1">Удалить</a>
                        <button name="code_btn" code="{{test.code}}" class="btn btn-sm btn-secondary mt-1 mb-1">Получить код</button>
                        <a href="/accounts/all_results/?code={{test.code}}" class="btn btn-sm btn-secondary mt-1 mb-1">Просмотреть результаты</a>
                    </td>
                </tr>
            </table>
        {% endfor %}
        <script>
                const buttons = document.getElementsByName("code_btn");
                for(let i = 0; i < buttons.length; i++) {
                    buttons[i].addEventListener('click', () => {
                        navigator.clipboard.writeText(buttons[i].getAttribute("code"))
                        .then(() => {

                            if (buttons[i].innerText !== 'Скопировано') {
                                const originalText = buttons[i].innerText;
                                buttons[i].innerText = "Скопировано"
                                setTimeout(() => {
                                    buttons[i].innerText = originalText;
                                }, 1500);
                            }
                        })
                        .catch(err => {
                            console.log('Что-то пошло не так', err);
                        })
                    });
                }
            </script>
    {% else %}
          <h4>У вас еще нет тестов. Давайте создадим!</h4>
    {% endif %}
    <a href="/test_constructor" class="btn btn-lg btn-secondary mt-4">Создать тест</a>
{% endblock %}
