<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test constructor</title>
</head>
<body>
    <form method="POST" id="form" info="{{options.count}}">
        {% csrf_token %}
        <div>
            <label>Текст вопроса</label>
            <textarea name="text" required>{{ question.text }}</textarea>
        </div>
        <div>
            <label>Стоимость вопроса</label>
            <input type="number" name="amount_of_points" value="{{question.amount_of_points}}" required>
        </div>
        <div>
            <label>Картинка</label>
            <input type="file" name="image" accept="image/*">
        </div>
        <label>Варианты ответа</label>
        <div id="input0"></div>
        <button type="button" onclick="addInput()">+</button>
        <button type="button" onclick="removeInput()">-</button>
        <input type="submit" value="Изменить вопрос">
    </form>
<script type="text/javascript" src={% static "test_constructor/edit.js" %}></script>
<script>
    var i = 1;
    {% for option in options %}
        document.getElementsByName('option' + i)[0].setAttribute("value", "{{option.text}}")
        {% if option.is_correct %}
            document.getElementsByName('correct' + i)[0].setAttribute("checked", "checked")
        {% endif %}
        i++;
    {% endfor %}
</script>
</body>
</html>