<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test constructor</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Количество вариантов ответа</label>
            <input type="number" name="options_count" value="{{question.options_count}}" min="0" max="20" required>
        </p>
        <p>
            <label>Текст вопроса</label>
            <textarea name="text" cols="40" rows="10" required>{{question.text}}</textarea>
        </p>
        <p>
            <label>Картинка</label>
            <input type="file" name="image" accept="image/*" value="{{question.image}}">
        </p>
        <p>
            <label>Варианты ответа</label>
            <textarea name="options" cols="40" rows="10">{{question.options}}</textarea>
        </p>
        <p>
            <label>Правильный ответ</label>
            <input type="text" name="correct_answer" value="{{question.correct_answer}}" required>
        </p>
        <input type="submit" value="Изменить вопрос">
    </form>
</body>
</html>